$black: #224;
$gray: #99a;
$light-gray: #ccc;
$very-light-gray: #eee;
$almost-white: #f8f8fa; // sorry y'all
$white: #fff;
$transparent: rgba(0, 0, 0, 0);

$green: #3a6;
$yellow: #ee6;

$teal: rgb(153, 209, 212);
$xtra-teal: rgb(139, 188, 189);


$light-green: #68d88f;
$dark-green: #47a37e;

$trans-green: rgba(52, 172, 78, 0.5);
$trans-yellow: rgba(239, 239, 78, 0.5);

$gold: #dc7;
$silver: #bbc;
$bronze: #da8;
