$content-width: 58.75rem;

.content {
  @include clearfix;
  margin: 0 auto;
  max-width: $content-width;
  padding: 0 0.625rem;
  width: 90%;
}

.left {
  float: left;
  text-align: left;
  width: 50%;
}

.right {
  float: right;
  text-align: right;
  width: 50%;
}

@media screen and (max-width: $phone-landscape-max) {
  .content {
    padding: 0;
    width: 100%;
  }

  section {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .left, .right {
    display: block;
    float: none;
    width: 80%;
  }
}
