@import 'colors';
@import 'typography';

.schedule-section {
  background: linear-gradient(180deg, $teal, $light-gray);
  padding-bottom: 4rem;

  * {
    z-index: 2;
  }

  .content {
    position: relative;
  }

  .separator h2 a {
    color: $black;

    &::before, &::after {
      background: $black;
    }
  }
}

.day-name a {
  font-family: $mono;
  font-size: 2.5rem;
  letter-spacing: 1px;
  line-height: 5rem;
  margin-left: -2rem;
  position: relative;
  transition: 0.4s ease all;
  z-index: 2;

  &::after {
    background: $yellow;
    border-radius: 2px;
    bottom: -0.5rem;
    content: '';
    height: 2rem;
    left: -1rem;
    position: absolute;
    transition: 0.4s ease all;
    width: 2rem;
    z-index: -1;
  }

  &:hover {
    letter-spacing: 4px;

    &::after {
      border-radius: 100px;
      bottom: 0;
      transition: 0.4s ease all;
    }
  }
}

.schedule-times {
  line-height: 1.25rem;
  padding-right: 1rem;
  text-align: right;
  width: 175px;
}

.day {
  padding-bottom: 1rem;
}

.event {
  line-height: 2;

  .event-time {
    font-family: $mono;
    letter-spacing: -1px;
  }

  .event-name {
    font-size: 1.2rem;
  }

  .event-location {
    color: $gray;
    font-size: 0.85rem;
    margin-left: 0.5rem;

    a {
      @include link-underline($green, $green, $green);
    }
  }
}

@media screen and (max-width: $phone-landscape-max) {
  .event {
    line-height: 1.25rem;
    margin-bottom: 1.5rem;
  }

  .day-name a {
    margin-left: -1rem;
  }

  .schedule-times {
    width: 120px;
  }

  .event-time {
    margin: 0;
  }

  .event-details {
    padding-bottom: 1rem;
  }

  .event .event-location {
    display: block;
    margin-left: 0;

    a {
      margin: 0;
      padding-bottom: 2px;
    }
  }
}
