@import 'colors';

// Font weights
$extra-bold: 900;
$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;

$sans: 'Roboto', Helvetica, sans-serif;
$mono: 'Roboto Mono', monospace;

h1, %h1 {
  color: $black;
  font-family: $sans;
  font-size: 10rem;
  font-weight: $extra-bold;
  font-style: italic;
  letter-spacing: -2px;
  line-height: 12rem;
  margin: 0;
}

h2, %h2 {
  font-size: 1rem;
  font-weight: $medium;
  letter-spacing: 4px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

h3, %h3 {
  font-size: 1.5rem;
  font-family: $sans;
  letter-spacing: 0.5px;
}

h4, %h4 {
  font-family: $mono;
  font-size: 2rem;
  letter-spacing: 2px;
}

h5, %h5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

p, .p {
  font-size: 1rem;
}

strong {
  font-weight: $medium;
}

@media screen and (max-width: $phone-landscape-max) {
  h1, %h1 {
    font-size: 6rem;
  }
}
