@import 'lib/reset.min';
@import 'media_queries';
@import 'colors';
@import 'typography';
@import 'base';
@import 'layout';
@import 'responsive';

.d-f-wrapper {
  box-shadow: none;
  display: block;
  padding: 1.5rem 0;
  position: fixed;
  top: 0;
  transition: 0.3s all;
  width: 100%;
  z-index: 1;

  &:hover {
    box-shadow: 0 0 15px $light-gray;
    transition: 0.15s all;
  }

  .d, .f {
    display: inline-block;
    height: 3rem;
    padding: 0 2px;
    transform: rotateY(0deg);
    transition: 0.8s ease all;

    &.hovering {
      transform: rotateY(360deg);
    }
  }

  .d.hovering {
    transform-origin: 25% 50%;
  }

  .f.hovering {
    transform-origin: 75% 50%;
  }
}

.landing-page {
  animation: animate-bg-gradient 1.5s ease both;
  background: linear-gradient(135deg, $light-gray, $white, $teal);
  background-size: 200%;
  height: 100%;
  position: relative;
  text-align: center;

  .lion {
    height: 40%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    .lion-wrapper {
      height: 100%;
    }
	}

  .info-text {
    margin: 2rem auto;

    h3 {
      font-family: $mono;
      font-size: 1.25rem;
      text-align: center;
    }
  }

  .hero-text {
    animation: fade-in-scale 1.5s ease both;

    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;

    h1:hover {
      animation: devfest 0.75s ease infinite;
      text-shadow: 5px 5px $green, 10px 10px $yellow;
    }
  }

  .links {
    bottom: 10%;
    font-family: $mono;
    left: 50%;
    line-height: 2rem;
    position: absolute;
    transform: translate(-50%, -50%);
    width: 80%;

    .left, .right {
      bottom: 0;
      position: absolute;
    }

    .right {
      right: 0;
    }

    .baby-logo {
      height: 2rem;
    }

    a {
      color: $gray;
      display: inline-block;
      font-family: $mono;
      margin: 0 2px;
      position: relative;

      &::after {
        background-color: $transparent;
        border-radius: 10px;
        bottom: 1px;
        content: '';
        height: 2px;
        left: 45%;
        position: absolute;
        transition: 0.3s ease all;
        width: 10%;
      }

      &:hover {
        color: darken($gray, 10%);

        &::after {
          background-color: $green;
          left: -5px;
          width: calc(100% + 10px);
        }
      }
    }
  }
}

.two-px {
  margin-left: 2px;
}



@keyframes fade-in-scale {
   0% { opacity: 0; transform: scale(0.92) translate3d(-54%, -59%, 0); }
  25% { opacity: 0; transform: scale(0.92) translate3d(-54%, -59%, 0); }
  100% { opacity: 1; transform: scale(1) translate3d(-50%, -55%, 0); }
}

@keyframes animate-bg-gradient {
    0% { background-position: 0% 0%; }
  100% { background-position: 100% 100%; }
}

@keyframes devfest {
   0% { text-shadow: 5px 5px $green, 10px 10px $yellow; }
  11% { text-shadow: 1px 1px $yellow, 6px 6px $green, 10px 10px $yellow; }
  22% { text-shadow: 2px 2px $yellow, 7px 7px $green, 10px 10px $yellow; }
  33% { text-shadow: 3px 3px $yellow, 8px 8px $green, 10px 10px $yellow; }
  44% { text-shadow: 4px 4px $yellow, 9px 9px $green, 10px 10px $yellow; }
  55% { text-shadow: 5px 5px $yellow, 10px 10px $green; }
  66% { text-shadow: 4px 4px $yellow, 9px 9px $green, 10px 10px $yellow; }
  77% { text-shadow: 3px 3px $yellow, 8px 8px $green, 10px 10px $yellow; }
  88% { text-shadow: 2px 2px $yellow, 7px 7px $green, 10px 10px $yellow; }
  100% { text-shadow: 1px 1px $yellow, 6px 6px $green, 10px 10px $yellow; }
}



