{{#extend "base"}}
{{#content "main" mode="prepend"}}
<div class="landing-page">
	<a href="#" class="d-f-wrapper">
		<img class="d" src="{{img.d}}"/>
		<img class="f" src="{{img.f}}"/>
	</a>

	<div class="lion-wrapper">
		<img class="lion" src="{{img.lion}}"/>
	</div>


	<div class="hero-text">
		<h1>DevFest</h1>
		<h4>jan 30 &ndash; feb 4, 2017</h4>
		<div class="info-text">
			<h3>Columbia's annual week-long workshop series and hackathon</h3>
		</div>
	</div>


	<div class="links">
		<a class="register" href="{{typeform-link}}">register</a>
		<div class="left">
			<ul>
				<li class="two-px">hosted by <a href="https://adicu.com">ADI</a></li>
				<li><a href="http://2016.devfe.st">devfest 2016</a></li>
				<li><a href="mailto:devfest@adicu.com">questions?</a></li>
			</ul>
		</div>
		<div class="right">
			<ul>
				<li>more info soon!</li>
			</ul>
		</div>
	</div>
</div>
{{/content}}
{{/extend}}
