<section class="faq-section" id="faq">
  <div class="separator">
    <h2><a href="#faq" class="scrolly-link"><span class="space">F</span>AQ</a></h2>
  </div>
  <div class="content">
  	{{#each faq}}
  		<div class="faq">
  			<p class="question">{{question}}</p>
  			<p class="answer">{{answer}}</p>
  		</div>
  	{{/each}}
	</div>
</section>

