<section class="judges" id="judges">
  <div class="separator">
    <h2><a href="#judges" class="scrolly-link">Judges</a></h2>
  </div>
  <div class="content">
  	{{#each judges}}
  		<div class="judge">
  			<div class="photo" style="background-image:url({{img}})"></div>
  		</div>
  	{{/each}}
	</div>
</section>
