<section class="learn" id="learn">
  <div class="separator">
    <h2><a href="https://learn.devfe.st">Learn</a></h2>
  </div>
  <div class="content">
    <h3>Access the DevFest 2017 Curriculum <a href="https://learn.devfe.st">here</a>!</h3>
  </div>
</section>
