<nav class="d-f-wrapper">
	<a href="#" class="d-f">
		<img class="d" src="{{img.d}}"/>
		<img class="f" src="{{img.f}}"/>
	</a>

	<div class="links-wrapper">
		<ul>
			<!-- <li><a href="#schedule">Schedule</a></li> -->
			<!-- <li><a href="#judges">Judges</a></li> -->
			<!-- <li><a href="#sponsors">Sponsors</a></li> -->
			<!-- <li><a href="#learn">Learn</a></li> -->
			<!-- <li><a href="#prizes">Prizes</a></li> -->
			<!-- <li><a href="#faq">FAQ</a></li> -->
		</ul>
	</div>

	<div id="burger">
		<div class="patty"></div>
		<div class="patty"></div>
		<div class="patty"></div>
	</div>
</nav>