<nav class="d-f-wrapper" id="top">
	<a href="#top" class="d-f top-link">
		<img class="d" src="{{img.d}}"/>
		<img class="f" src="{{img.f}}"/>
	</a>

	<div class="links-wrapper">
		<ul>
			<li><a class="scrolly-link" href="#schedule">Schedule</a></li>
			<li><a class="scrolly-link" href="#learn">Learn</a></li>
			<li><a class="scrolly-link" href="#judges">Judges</a></li>
			<li><a class="scrolly-link" href="#prizes">Prizes</a></li>
			<li><a class="scrolly-link" href="#sponsors">Sponsors</a></li>
			<li><a class="scrolly-link" href="#faq">FAQ</a></li>
			<li><a target="_blank" href="http://conduct.devfe.st">Code of Conduct</a></li>
			<li><a class="scrolly-link" href="#contact">Contact</a></li>
		</ul>
	</div>

	<div id="burger">
		<div class="patty"></div>
		<div class="patty"></div>
		<div class="patty"></div>
	</div>
</nav>
