<section class="sponsors" id="sponsors">
  <div class="separator">
    <h2><a href="#sponsors" class="scrolly-link">Sponsors</h2></a>
  </div>
  <div class="content">
    <div class="gold">
      <h5>Gold Sponsors</h5>
      <!-- Special casing the bloomberg logo for padding -->
        <div><img src="/img/sponsors/bloomberg.png" class="bloomberg" /></div>
      {{#each sponsors.gold}}
        <div><img src="{{.}}" /></div>
      {{/each}}
    </div>
    <div class="silver">
      <h5>Silver Sponsors</h5>
      {{#each sponsors.silver}}
        <div><img src="{{.}}" /></div>
      {{/each}}
        <!-- Special casing the facebook logo for padding -->
        <div><img src="/img/sponsors/facebook.jpg" class="facebook" /></div>
    </div>
    <div class="bronze">
      <h5>Bronze Sponsors</h5>
      {{#each sponsors.bronze}}
        <div><img src="{{.}}" /></div>
      {{/each}}
    </div>
    <div class="partner">
      <h5>Partners</h5>
      {{#each sponsors.partner}}
        <div><img src="{{.}}" /></div>
      {{/each}}
    </div>
	</div>
</section>

